@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Exiwora</h1>
    <h2 class="display-4">Admin Dashboard</h2>

    <div class="text-center">
        <img src="~/Logo_Exiwora.png" style="width:50%"/>
    </div>
</div>
